/* ========== Header Section =============  */
header{
    z-index: 99;
}

.nav-link {
    color: black;

}

.nav-link:hover {
    color: #7A9FFE;
}

.nav-item {
    padding: 5px 7px;
}

/* ========== Header Section =============  */

/* =========== Hero Section ============== */

#hero_section{
    background-color:#F9F9FF;

}

#hero_section .container .row .colu {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    padding-top: 30px;
}

#hero_section .container .row .colu small {
    font-size: large;
    font-weight: 600;
    align-self: baseline;
}

#hero_section .container .row .colu h1 {
    font-family: sans-serif;
    font-size: 60px;
}

#hero_section .container .row .colu a {
    background: #8390FF;
    background: linear-gradient(90deg, rgba(131, 144, 255, 1) 0%, rgba(98, 188, 252, 1) 100%);
    ;
}

/* =========== Hero Section ============== */

/* =========== Details Section ============== */
#details_sec .container .row .cold a{
    color: white;
     background: #8390FF;
    background: linear-gradient(90deg, rgba(131, 144, 255, 1) 0%, rgba(98, 188, 252, 1) 100%);
    ;
}
/* =========== Details Section ============== */

/* =========== Counter Section ============== */
#counter_sec{
    background: #8390FF;
    background: linear-gradient(90deg, rgba(131, 144, 255, 1) 0%, rgba(98, 188, 252, 1) 100%);
    ;
   
    color: white;
}

#counter_sec .container .row{
 min-height: 300px;
}
/* =========== Counter Section ============== */