* {
    scroll-behavior: smooth;
}

/* ========== Header Section =============  */
header {
    z-index: 99;
}

.nav-link {
    color: black;
    transition: all 0.2s ease;

}

.nav-link:hover {
    color: #7A9FFE;
}

.nav-item {
    padding: 5px 7px;
}

.navbar-toggler {
    outline: 0 !important;
    box-shadow: none !important;
    border: none !important;

}

/* ========== Header Section =============  */

/* =========== Hero Section ============== */

#hero_section {
    background-color: #F9F9FF;

}

#hero_section .container .row .colu {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    padding-top: 30px;
}

#hero_section .container .row .colu small {
    font-size: large;
    font-weight: 600;
    align-self: baseline;
}

#hero_section .container .row .colu h1 {
    font-family: sans-serif;
    font-size: 60px;
}

#hero_section .container .row .colu a {
    background: #8390FF;
    background: linear-gradient(90deg, rgba(131, 144, 255, 1) 0%, rgba(98, 188, 252, 1) 100%);
    ;
}

/* =========== Hero Section ============== */

/* =========== Details Section ============== */
#details_sec .container .row .cold a {
    color: white;
    background: #8390FF;
    background: linear-gradient(90deg, rgba(131, 144, 255, 1) 0%, rgba(98, 188, 252, 1) 100%);
    ;
}

/* =========== Details Section ============== */

/* =========== Services Section ==============  */
.col_serv:hover .ser_icon i {
    background: #8390FF;
    background: linear-gradient(to right, #8390FF 0%, #62BCFC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}

.col_serv:hover .ser_head {
    background: #8390FF;
    background: linear-gradient(to right, #8390FF 0%, #62BCFC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ser_icon i,
.ser_head {
    transition: all 0.3s ease !important;
}

/* =========== Services Section ==============  */

/* =========== Counter Section ============== */
#counter_sec {
    background: #8390FF;
    background: linear-gradient(90deg, rgba(131, 144, 255, 1) 0%, rgba(98, 188, 252, 1) 100%);
    ;

    color: white;
}

#counter_sec .container .row {
    min-height: auto;
}

/* =========== Counter Section ============== */

/* =========== Carosuel Section ============== */
#carousel_section {
    min-height: 300px;
    /* padding: 100px 0px !important; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#carousel_section .yak {
    font-size: 14px;
    padding-left: 2px;
}



/* =========== Carosuel Section ============== */

/*  =========== Pricing Section ============== */
#price_sec {
    /* padding: 100px 0px; */
}

.price_card {
    transition: all 0.2s ease;

}

.price_card:hover {
    background: #8390FF;
    background: linear-gradient(90deg, rgba(131, 144, 255, 1) 0%, rgba(98, 188, 252, 1) 100%);
    ;
    scale: 1.1;
    color: rgb(224, 224, 224);

}

.price_card:hover .lower_part a {
    color: white;
}

.no_div {
    width: 140px;
    height: 142px;
    border: 30px solid rgba(62, 77, 184, 0.1);
    border-radius: 50%;
    margin: auto;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: rgba(132, 144, 255, 0.1);
}

.mid_part p {
    margin: 0px !important;
    font-size: large;
}

/*  =========== Pricing Section ============== */

/* =========== Blog Section ============== */
.img_parent {
    overflow: hidden;
}

.img_parent img {
    transition: all 0.3s ease;
}

.blog_parent .blog_para .para_head h5 {
    transition: all 0.3s ease;
}

.blog_parent:hover .img_parent img {
    transform: scale(1.1);
    overflow: hidden;
}

.blog_parent:hover .blog_para .para_head h5 {
    background: #8390FF;
    background: linear-gradient(to right, #8390FF 0%, #62BCFC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

/* =========== Blog Section ============== */

/* =========== SVG Section ============== */
#svg_sec {
    background: #8390FF;
    background: linear-gradient(90deg, rgba(131, 144, 255, 1) 0%, rgba(98, 188, 252, 1) 100%);
    ;
    min-height: 250px;
    padding: 80px 0px !important;
}

/* =========== SVG Section ============== */

/* =========== Footer Section ============== */
#footer_sec {
    background-color: #04091E;
    min-height: 40px;
    padding: 100px 0px;
    color: white;
}

.footer_mail {
    outline: none;
    border: none;
    border-radius: 4px;
}

.fb:hover {
    color: #8390FF !important;

}

.tw:hover {
    color: #8390FF !important;

}

.wt:hover {
    color: #8390FF !important;

}

/* =========== Footer Section ============== */

@media (max-width:768px) {
    .about_image {
        order: 2;
    }

    #footer_sec .container .row .col-lg-5,
    #footer_sec .container .row .col-lg-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self: center;
        text-align: center;
    }

    #footer_sec .container .row .col-lg-5 .email_ {
        display: flex;
        justify-content: center;
        align-items: center;
    }


}

@media (max-width:425px) {
    #hero_section .container .row .colu a {
        width: 75% !important;
    }
}

@media (max-width:375px) {
    .carousel-control-next, .carousel-control-prev{
    bottom: 10px !important;
    top: auto !important;
}

.caro_row{
    width: 92% !important;
}
}